@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: Arial, 'san-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

@media screen and (max-width: 767px) {
    #main_content > #main_container {
        width: 100%; 
    }

    #main_content > #main_top div {
        
    }
    

    #main_content > #main_container > section > article {
        width: 100%;
    }

    #main_content > #main_container > section > #other_games a {
        width: 100%;
    }

 


}

@media screen and (min-width: 768px) and (max-width: 1023px){
    #main_content > #main_container {
        width: 100%; 
    }

    /* #main_content > #main_container > section {
        width: calc(100% - 210px);
    } */
}

@media screen and (min-width: 1024px) {}